.signup_banner {
  max-width: 450px;
}

.radioBtn:checked,
.radioBtn:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radioBtn:checked + label,
.radioBtn:not(:checked) + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: inline-block;
  color: #666;
}

.radioBtn:checked + label:before,
.radioBtn:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 22px;
  height: 22px;
  border: 1px solid #f49c1f;
  border-radius: 100%;
  background: #fff;
}

.radioBtn:checked + label:after,
.radioBtn:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #b7b7b7;
  position: absolute;
  top: 4px;
  left: 7px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radioBtn:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radioBtn:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
